<%- model_class = Caregiver -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Speciality</th>
    <th></th>
    <th></th>
  </tr>


  </thead>
  <tbody>

    <% @caregivers.each do |caregiver| %>
      <tr>
        <td><%= link_to(caregiver.cid, {:action => 'show', :id => caregiver.cid})%></td>
        <td><%= caregiver.firstName %></td>
        <td><%= caregiver.lastName %></td>
        <td><%= caregiver.speciality %></td>
        <td><%= link_to('Edit', { :action => "edit", :id => caregiver.cid },
                        :method => :get) %></td>
        <td><%= link_to("Delete article", { :action => "destroy", :id => caregiver.cid },
                        :confirm => "Are you sure you want to delete this article?",
                        :method => :delete) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caregiver', new_caregiver_path %>
